body {
    background-color: rgb(240,240,240);
    color: rgb(50, 50, 50);
    font-family: 'Lato', sans-serif;
}

#container{
    width: auto;
}
#nazwa {
    font-size: 28px;
}
.naglowek {
    color: rgb(240,240,240, 0.9);
    background-color: rgb(255, 128, 0, 0.9);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#menu {
    text-align: left;
    width: auto;
    height: auto;
    line-height: 1.6;
}
#obrazek{
    float: left;
    margin-left:15px;
    margin-right:25px;
}
#opisnaglowek{
    float: left;
    text-align: center;
    margin-bottom:30px;

}
#pas2 {
    width:80%;
    margin:15px auto;
}

ol > li {
    list-style-type: none;
    font-size: 24px;
}
ol>li>ul{
    display:none;
}
ol a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 5px 5px;
}
ol > li:hover > a {
    text-decoration:underline;
}
#gal{
    text-align:center;
}

.artykul {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 30px;
}
#obrazek {
    width: auto;
}
.tytul{
    padding: 10px 10px;
    font-size: 26px;
    margin-top:15px;
    margin-bottom:15px;
}
#stopka{
    width:auto;
    margin-top: 50px;
    margin-bottom:500px;
}
#dane {
    float: left;
}
#linkfb {
    float: left;
    margin-top:10px;
    margin-left:50px;
}



a.sclink {
    color: whitesmoke;
}
.fb {
    float: left;
    width: 80px;
    height: 85px;
    margin-left: 10px;
    background-color: #4668b3;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    padding-top:15px;
}
.fb:hover{
    background-color: #3557a2;
}
.przewin {
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: url("upbuton.png") no-repeat 0px 0px;
    position: fixed;
    right: 20%;
    bottom: 10px;
    display: none;
    opacity: 0.6;
}
.zdjecia{
    float: left;
    margin-left:5px;
    height:210px;
}
.gal{
    width:90%;
    margin: 0 auto;
}
#tresc{
}
#wyd3{
    margin-top:25px;
}
#tyt {
    padding: 10px 10px;
    font-size: 26px;
    text-align:center;
}